<app-header></app-header>
<div class="row">
    <div class="col-xs-12">
        <div class="todo-list">
            <div class="containier" *ngIf="todos.length>0;else error">
                <h6 class="display-6">{{nav}}</h6>
                <ul class="list-group" *ngFor="let todo of todos">
                    <li class="list-group-item" (click)="loadTodo(todo)">
                        <span>{{ todo.task }}</span>
                        <!-- attribiute diretive -->
                        <span class="status" [ngClass]="{'done':todo.isDone}">{{todo.isDone?'Done':'Pending..'}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- add local refernce ie ng-template -->
        <ng-template #error>
            <p>There are no todos</p>
        </ng-template>
        <div class="todo-edit">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>