<app-header></app-header>
<div class="container form-container">
    <form #myForm="ngForm">
        <div class="row">
            <div class="col-sm-5 form-group" id="task">
                <label for="name">Task</label>
                <input type="text" id="name" name="task" class="form-control" required [(ngModel)]="task">
            </div>
            <div class="col-sm-2 form-group">
                <label for="isDone">Is Done</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" name="isDone" [(ngModel)]="isDone">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 btn-container">
                <button class="btn btn-success" (click)="addTask()">Add</button>
                <button class="btn btn-danger" (click)="deleteTask()">Delete</button>
                <button class="btn btn-primary" (click)="clearTask()">Clear</button>
            </div>
        </div>
    </form>
</div>